/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*ADD THE HEADER AS A BACKGROUND IMG*/

header {
    background-image: url(../img/surf-waves.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 5%;
    height: 12em;
    width: 100%;
    position: relative;
}

header nav {
    text-align: center;
    word-spacing: 1.2em;
    padding-top: .5em
    
}

header nav a {
    text-decoration: none;
    color: #002f48;
    font-weight: 600;
}

header div {
/*    this is the wave icon div  */
    text-align: center;
    padding-top: 1.5em;
}

.invisible-icon-words {
    display: none;
}

.waveicon {
    height: 3.7em;
    width: 3.7em;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 2.6em;
    margin-top: .3em;
    text-transform:uppercase;
    color: white;
}

header p {
    text-align: center;
    color: #002f48;
    margin-top: -2em 
}

/*BEGIN BODY SECTION OF PAGE*/


.content-container {
    width: 90%;   
    margin: auto;
}


h2 {
    font-size: 4em;
    font-family: 'Open Sans';
    text-transform: uppercase;
    word-spacing: -.05em;
    color: #002f48;
}

.timeimg {
       margin-top: -3.5em
}

.smallprofilepic {
     border-radius: 50%;
    display: none;
/*    MUST BE DISPLAYED AT FULL SCREEN*/
}

time {
    color: gray;
    text-decoration: underline;
}

article p {
    line-height: 3.3ex;
    color: #7c8288;
    font-family: 'Open Sans'
}

article p:first-child {
    padding-top: 2ex;   
}

.blockquote {
    border-left: .2em solid lightgray;
    padding: .7em;
    color: #006caf;
    font-size: 2em;
    font-weight: lighter;
    text-transform: uppercase;
    margin: .7em auto .7em
}   

.icon-list {
    
}

.icon-list ul {
    list-style: none;
    padding-left: 0;
}

.icon-list ul li {
    display: inline-block; 
    margin: 0 1em 0 0; 
}

i {
    background-color: darkgray;
    padding: 2ex;
    color: white;
    
}


li span {
    display: none;   
}


.profile-picture {
    height: 9.4em;
    width: 9.4em;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.profile-pic-container {
    margin-top: 8em;
}

.profilename {
    text-align: center;
    font-family: 'Open Sans';
    font-size: 2em;
    color: #006caf;
    margin-top: .4em;
    
}

.sidebar-linkbuttons {
    list-style: none;
    padding-left: 0ex;
    text-align: center;
    margin-top: -2em
}

.sidebar-linkbuttons li {
    display: inline-block;
    margin: 0 1em 1em 0;
    font-size: 1.2em;
    font-family: sans-serif;
    color: #7c8288
}

.adpic-container {
    margin: 4em auto;
}

.ad-pic {
    height: 24em;
    width: 24em;
    margin: auto;
    display: block;
}

.figcaption {
    text-align: right;
    width: 24em;
    margin: 1em auto;
}

.figcaption a {
    text-decoration: underline;
    color: #7c8288;
    font-family: tahoma;
    
}

.mobile-hidden-heading {
    color: #006caf;
    text-transform: uppercase;
    font-size: 1.5em;
    display: none;
}

.mobile-hidden-article {
    color: #7c8288;
    word-spacing: -.05em;
    line-height: 3.3ex;
    display: none;
/*    Fix width to line up with image*/
}

.bottom-pics {
       
}

.bottom-pic-heading {
    font-size: 2.6em;
    color: #002f48;
    font-family: sans-serif;
    text-transform: uppercase;
    padding-top: 2ex;
}


.low-listed-pics {
    list-style: none;
    
    
    
}

figure img {
    display: inline-block;
    z-index: 2;
    margin: 0 0 3ex;
}

a {
    position: relative;
    text-decoration: none;
    
}

 figcaption {
    position: absolute;
    z-index: 5;
    font-size: 3em;
    color: white; 
    bottom: 1ex;
    padding-left: 1ex;
}

footer {
    width: 100%;
    
}











/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
